
*{
    font-family: monospace;
}

body{
    color: #F4DFC8;
    background-color: #edeeeb;
}
.sidebar{
    position:fixed;
    top: 0;
    left: 0;
    background: #31393c;
    height: 100%;
    width: 260px;
}

.sidebar .logo a img{
    margin-left: 10px;
    width: 240px;
}

.nav-link li a{
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #F1EFEF;
}
.nav-link li{
    list-style-type: none;
}
.nav-link li a:hover{
    color: #7D7C7C;
}
/* end of nav bar */


/* main area */

table {
    display: none;
    position: absolute;
    top: 20%;
    left:  20%;
    width: 1000px;
    height: 500px;
    
}

table h2{
    color: #F4DFC8;
}

table th{
    color: #31393c;
    background: #3e96f4;
}

table td{
    color: #191717;
    text-align: center;
    vertical-align: middle;
}
#ed{
    border: 1px solid #4283e8;
    background-color: #4283e8;
    padding: 1vh 1vw;
    color: #F1EFEF;
}
#del{
    border: 1px solid #bc1b22;
    background-color: #bc1b22;
    padding: 1vh 1vw;
    color: #F1EFEF;
}

#del:hover{
    background-color: #F1EFEF;
    color: #bc1b22;
}
#ed:hover{
    background-color: #F1EFEF;
    color: #4283e8;
}

/* settings */
.settings thead th{
    color: #Fff;
    padding: 1vh 1vw;
}
.settings tbody{
    background-color: #ccc7bf;
}
.settings tbody button{
    border: 1px solid #31393c;
    font-weight: bolder;
    color: #31393c;
    font-size: larger;
    padding: 5vh 5vw;
}
.settings tbody button:hover{
    color: #fff;
    background-color: #31393c;
}